* {
    box-sizing: border-box;  
    font-family: verdana;
}

h2 {
    text-align: center;
      margin-bottom: 20px;
}

section {
    background-color: #b3b0b0;
}

h4 {
    float: right;
    border-bottom: 1px solid;
    border-left: 1px solid; 
    padding: 1px 35px;
    margin: -15px -15px 0px 0px;
}

p{
    margin-top: 20px;
    margin-bottom: 0px; 
}

#chicken{
    background-color: #D59898;
}

#sushi{
    background-color: #E5D198;
}

#beef {
    color: white;
    background-color: #C14543; 
}

.items{
    text-align: justify;
    border: 2px solid black;
    padding: 15px;
}



/* Simple Responsive Framework. */
.row {
  width: 100%;
}

.row > div {
    padding: 4px;
}

/* For mdobile devices: */
@media (min-width: 767px) {
 .col-sm-12 {
    float: left;
   	width: 100%;
  }	
}


/* For Medium screens such as tablets, iPads: */
@media (min-width: 768px) and (max-width: 991px) {
     .col-md-6 {
    float: left;
    width: 50%;
  }
   .col-md-12 {
    width: 100%;
  }
}

/* For Large Screens like desktop: */
@media(min-width: 992px) {
   
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }

}