body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

.navbar {
	border-radius: unset;
}

#content-section {
	margin-top: 50px;
}

#content-section div {
	border: 1px solid green;
	margin: 15px 0px;
	text-align: justify;
	padding: 10px;
	background-color: beige;
}


.collapse {
	background-color: #ddece7;
}

.br-bottom{
border-bottom: 1px solid black;
}


